<section>
  <h2>Looking for Something to Read?</h1>
  <a href="http://www.packtpub.com/redmine-plugin-extension-and-development/book" target ="_blank">
    <img src="/images/8748OS_mockupcover_normal_0.jpg" alt="Redmine Plugin Extension and Development">
  </a>

  <ul>
    <li>Gain access to powerful and useful features by hooking into Redmine's underlying infrastructure</li>
    <li>Real-world examples that will help you in building cross-platform applications using Redmine</li>
    <li>Full of illustrations, tips, and tricks to facilitate the development of plugins and extensions</li>
  </ul>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6215800856413580",
            enable_page_level_ads: true
       });
  </script>
</section>
