<section>
  <h2>Looking for Something to Read?</h1>
  <a href="http://www.packtpub.com/redmine-plugin-extension-and-development/book" target ="_blank">
    <img src="/images/8748OS_mockupcover_normal_0.jpg" alt="Redmine Plugin Extension and Development">
  </a>

  <ul>
    <li>Gain access to powerful and useful features by hooking into Redmine's underlying infrastructure</li>
    <li>Real-world examples that will help you in building cross-platform applications using Redmine</li>
    <li>Full of illustrations, tips, and tricks to facilitate the development of plugins and extensions</li>
  </ul>
</section> 
